*{
    box-sizing: border-box;
}

:root{
    --primary-color: #FFB900;
    --font-heading : Sen, sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ===============Common================ */
.main-content{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    text-align: center;
    padding: 0 16px;
    line-height: 50px;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.6rem;
    color: #fff;
    background-color: #171100;
    border-radius: 999px;
}

.btn:hover{
    opacity: 0.9;
}

a{
    text-decoration: none;
    color: #BFBCB2;
}

/* ===============Header================ */
.header{
    background-color: #FFFCF4;
}

.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header.fixed{
    position: sticky;
    top: -28px;
    z-index: 1;
}

.nav ul{
    display: flex;
}

.nav{
    margin-left: auto;
}

.nav a{
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5F5B53;
}

.nav a:hover,.nav li.active a{
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after{
    content: "";
    position: absolute;
    display: block;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
}

.header .sign-up-btn{
    min-width: 144px;
}

.header .action{
    margin-left: 49px;
}

/* ===============Hero================ */
.hero{
    padding-top: 56px;
    background: #FFFCF4;
}

.hero .body{
    display: flex;
}
/* Left */
.hero .media-block{
    position: relative;
    width: 48%;
}

.hero .media-block .img{
    width: 470px;
    height: 685px;
    border-radius: 20px;
}


.hero-sumary{
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 28px 24px;
    background-color: #fff;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-sumary .item{
    display: flex;
}

.hero-sumary .item + .item{
    margin-top: 22px;
}

.hero-sumary .item:nth-last-of-type(2) .icon{
    background-color: #fcefff;
}

.hero-sumary .item:nth-last-of-type(1) .icon{
    background-color: #ebeaff;
}

.hero-sumary .icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9e8;
}

.hero-sumary .info{
    margin-left: 16px;
}

.hero-sumary .label{
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.hero-sumary .title{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
/* Right */

.hero .content-block{
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .heading{
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .desc{
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.hero .cta-group{
    display: flex;
    margin: 38px 0 48px;
    align-items: center;
}

.hero-cta{
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.hero .watch-video{
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    margin-left: 28px;
    cursor: pointer;
}

.hero .watch-video .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span{
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .stats{
    margin: 8px 0 0 -28px;
}

.hero .stats strong{
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/* ==========================Courses============= */
.courses{
    margin-top: 200px;
}

.courses .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .heading{
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    letter-spacing: -0.02em;
    color: #171100;
}
.courses .info{
    margin-top: 16px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.courses .action{
    display: flex;
    gap: 18px;
}

.courses .action a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid;
    border-radius: 50%;
}

.courses .action .arrow-left{
    border: solid 1px #FFB900;
}

.courses .action .arrow-right{
    border: none;
    background-color: #FFB900;
}

.courses .body{
    padding: 16px 22px 22px;
}

.courses .item{
    width: 370px;
    border: solid 1px #E2DFDA;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.courses .list{
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.courses .list .title-evaluate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .list .title-evaluate .title{
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.courses .list .title-evaluate .evaluate-start{
    font-weight: 400;
    font-size: 1.6rem;
    color: #FFB900;
}

.courses .list .cost{
    font-weight: 700;
    color: #171100;

}

.courses .list .desc{
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #5F5B53;
}

.courses .list .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .list .btn-first{
    background-color: #FFB900;
    color: #fff;
}

.courses .item:first-child{
    background: #fff;
    border: none;
}

/* =========================Information================== */
.infomation{
    margin-top: 200px;
    padding: 96px 135px;
    background: #2E2100;
}

.infomation .content{
    display: flex;
}

.infomation .label{
    width: 48%;
}

.infomation .round,.infomation img{
    border-radius: 50%;
}

.infomation .name{
    font-family: var(--font-heading);
    margin-top: 8px;
    font-weight: 500;
    font-size: 2.4rem;
    color: #F7F7F7;
}

.infomation .action{
    margin-top: 28px;
    width: 30px;
    display: flex;
    gap:6px;
}

.infomation .action .round-cta:nth-child(2) {
    border: var(--primary-color);
}

.infomation .round-cta{
    width: 6px;
    border: solid;
    background-color: #634700;
}

.infomation .desc{
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #BFBCB2;
}


.infomation .info{
    position: relative;
    width: 52%;
}

.infomation .info p{
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.53;
    color: #fff;
    font-style: italic;
}

.infomation .quotes{
    position: absolute;
    top: -20px;
    transform: translateX(-150%);
    border-radius: 0;
}

/* =================Sign up================ */
.sign-up{
    margin-top: 135px;
    padding: 65px 0;
}

.sign-up .body{
    display: flex;
    justify-content: space-between;
}

.sign-up .image{
    width: 60%;
    display: flex;
    gap: 30px;
}

.sign-up .image img{
    width: 270px;
    height: 404px;
}

.sign-up .image .sign-up-avt-01 {
    margin-top: 34px;
}

.sign-up .image .sign-up-avt-02 {
    margin-bottom: 34px;
}

.sign-up .content-block{
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.sign-up .content-block .heading{
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    letter-spacing: -0.02em;
    color: #171100;
}

.sign-up .content-block p{
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
}

.sign-up .btn-sign-up-2{
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    background-color: var(--primary-color);
}

/* ===============Feature============= */
.feature{
    margin-top: 135px;
    padding: 65px 0;
}

.feature .content{
    display: flex;
    justify-content: space-between;
}

.feature .heading{
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    letter-spacing: -0.02em;
    color: #171100;
}

.feature .info-block{
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.feature .info-block p{
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
}

.feature .info-block .btn{
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    background-color: var(--primary-color);
}

/* ===========Blog================= */
.blog{
    margin-top: 135px;
    padding: 96px 0;
    background-color: #FFFCF4;
}

.blog .blog-top{
    text-align: center;
}

.blog .heading{
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    letter-spacing: -0.02em;
    color: #171100;
}

.blog .blog-top .desc{
    margin: 16px auto auto;
    width: 448px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.blog .blog-list{
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.blog .item{
    width: 33.33%;
    background-color: #fff;
    border-radius: 16px;
}

.blog .item .thumb{
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.blog .item .info{
    padding: 20px 20px 28px;
}

.blog .item .date{
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.blog .item .date::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog .item .date::after{
    content: "";
    position: absolute;
    left: 0;
    right: 27px;
    bottom: 0;
    display: inline-block;
    width: 160px;
    height: 1px;
    border-radius: 0.05px;
    background: #E2DFDA;
}

.blog .item .title{
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog .btn{
    margin-top: 12px;
}

.blog .btn.active{
    background: var(--primary-color);
    color: #fff;
}

.blog .dots{
    display: flex;
    justify-content: center;
    margin-top: 38px;
    gap: 6px;
}

.blog .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5F5B53;
}

.blog .dot.active{
    cursor: default;
    background: var(--primary-color);
}

/* ===============Footer=============== */
.footer{
    padding: 96px 135px 28px;
    background: #2E2100;
}

.footer .list{
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
    padding-bottom: 28px;
    gap: 130px;
    border-bottom: solid 1px #59554B;
}

.footer .list .desc{
    width: 267px;
    margin: 18px 0 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.85;
    color: #BFBCB2;
}

.footer .logo{
    display: flex;
    gap: 18px;
    align-items: center;
}

.footer .column .title{
    position: relative;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 1.6rem;
    padding-bottom: 14px;
    color: #fff;
}

.footer .column .title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 130px;
    height: 1px;
    background: #59554B;
}

.footer  .column .list-item {
    margin-top: 28px;
}

.footer .item{
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #BFBCB2;
}

.footer .column p{
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #BFBCB2;
}

.footer .column strong{
    font-weight: bold !important;
    color: #fff;   
}

.footer .copy-right{
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    color: #807D74;
}